<ion-header>
  <ion-toolbar color="primary">
      <ion-title></ion-title>
      
      <!-- Back icon -->
       <ion-buttons slot="start"> 
           <ion-back-button defaultHref="home"></ion-back-button>
       </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Recycle</p>
  <br>
  <ion-item lines="none">
    <ion-label position="stacked">Waste</ion-label>
    <ion-select [(ngModel)]="selectedWaste" placeholder="Select Waste">
      <ion-select-option value="KRT">KRT</ion-select-option>
      <ion-select-option value="Paper">Paper</ion-select-option>
      <ion-select-option value="White Cover">White Cover</ion-select-option>
      <ion-select-option value="Brown">Brown</ion-select-option>
      <ion-select-option value="Waste Bag">Waste Bag</ion-select-option>
      <ion-select-option value="Oil Cover">Oil Cover</ion-select-option>
      <ion-select-option value="Waste Glass Plastic">Waste Glass Plastic</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item lines="none">
    <ion-label position="stacked">Kilograms</ion-label>
    <ion-input type="number" [(ngModel)]="amount" placeholder="Enter Kilograms"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="addWaste()">Add</ion-button>
  <h6>List of items to be added</h6>
  <ion-card *ngIf="wasteList.length > 0">
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of wasteList">
          <ion-label>{{ item.name }} - {{ item.amount }} kg</ion-label>
          <ion-button slot="end" (click)="removeWaste(item.newCenterid)">Delete</ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-button expand="block" (click)="saveWaste()">Save</ion-button>
</ion-footer>
