<ion-header>
  <ion-toolbar color="orange">
    <ion-title>Recycle</ion-title>
    <ion-buttons slot="start"> 
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-label position="stacked">Center</ion-label>
    <ion-select [(ngModel)]="selectedWaste" placeholder="Select Waste" (ionChange)="onCenterChange()">
      <ion-select-option *ngFor="let center of centers" [value]="center.centerName">{{ center.centerName }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item lines="none">
    <ion-label position="stacked">Waste</ion-label>
    <ion-select [(ngModel)]="selectedWaste" placeholder="Select Waste">
      <ion-select-option value="KRT">KRT</ion-select-option>
      <ion-select-option value="Paper">Paper</ion-select-option>
      <ion-select-option value="White Cover">White Cover</ion-select-option>
      <ion-select-option value="Brown">Brown</ion-select-option>
      <ion-select-option value="Waste Bag">Waste Bag</ion-select-option>
      <ion-select-option value="Oil Cover">Oil Cover</ion-select-option>
      <ion-select-option value="Food Cover">Food Cover</ion-select-option>
      <ion-select-option value="Aluminium Tin">Aluminium Tin</ion-select-option>
      <ion-select-option value="PET">PET</ion-select-option>
      <ion-select-option value="Black Item">Black Item</ion-select-option>
      <ion-select-option value="Metal">Metal</ion-select-option>
      <ion-select-option value="E-waste">E-waste</ion-select-option>
      <ion-select-option value="Ice-cream Cup">Ice-cream Cup</ion-select-option>
      <ion-select-option value="Glass Bottle">Glass Bottle</ion-select-option>
      <ion-select-option value="Mixed Item">Mixed Item</ion-select-option>
      <ion-select-option value="Medicine Cover & Tonic">Medicine Cover $ Tonic</ion-select-option>
      <ion-select-option value="colour">Colour</ion-select-option>
      <ion-select-option value="Waste Glass Plastic">Waste Glass Plastic</ion-select-option>
    
    </ion-select>
  </ion-item>

  <ion-item lines="none">
    <ion-label position="stacked">Kilograms</ion-label>
    <ion-input type="number" [(ngModel)]="amount" placeholder="Enter Kilograms"></ion-input>
  </ion-item>

  <ion-button color="orange" expand="full" (click)="addWaste()">Add</ion-button>
  <h6>List of items to be added</h6>
  <ion-card *ngIf="wasteList.length > 0">
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of wasteList">
          <ion-label>{{ item.name }} - {{ item.amount }} kg</ion-label>
          <ion-button  color="orange" slot="end" (click)="removeWaste(item.newCenterid)">Delete</ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-button color="orange" expand="block" (click)="saveWaste()">Save</ion-button>
</ion-footer>
