<ion-header>
  <ion-toolbar color="orange">
      <ion-title></ion-title>
      
      
      <ion-buttons slot="start"> 
          <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons> 
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let waste of wasteDetails">
    <ion-card-header>
      <ion-card-title>{{ waste.type }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Amount Collected: {{ waste.amount }}
      <br>
      Date and Time: {{ waste.dateTime }}
    </ion-card-content>
  </ion-card>
</ion-content>
