<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>End Trip</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">End Trip</ion-title>
    </ion-toolbar>
  </ion-header>

  <h5>Trip</h5>

  <ion-row>
    <span>Date</span>
    <ion-input aria-label="date" type="Date" [readonly]="true" value="{{ vehicleTrack['date'] }}"></ion-input>
  </ion-row>

  <ion-grid>
    <ion-row>
      <ion-col>
        <span>Start Time</span>
        <ion-input aria-label="start-time" type="Time" [readonly]="true" value="{{ vehicleTrack['start-time'] }}"></ion-input>
      </ion-col>
      <ion-col>
        <span>End Time</span>
        <ion-input aria-label="time" type="Time" value="{{ time }}" [(ngModel)]="time"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <span>Vehicle Number</span>
      <ion-input aria-label="vehicle-number" type="text" [readonly]="true" value="{{ vehicleTrack['vehicle-number'] }}"></ion-input>
    </ion-row>

    <ion-row>
      <span>Driver</span>
      <ion-input aria-label="driver" type="text" [readonly]="true" value="{{ vehicleTrack['driver-name'] }}"></ion-input>
    </ion-row>

    <ion-row>
      <span>Line Employee 1</span>
      <ion-input aria-label="line-employee-1" type="text" [readonly]="true" value="{{ vehicleTrack['line-employee-1'] }}"></ion-input>
    </ion-row>

    <ion-row>
      <span>Line Employee 2</span>
      <ion-input aria-label="line-employee-2" type="text" [readonly]="true" value="{{ vehicleTrack['line-employee-2'] }}"></ion-input>
    </ion-row>
  </ion-grid>

  <ion-button id="submit-button" expand="block" (click)="endTrip()">End Trip</ion-button>
  <ion-toast id="submit-status" trigger="submit-button" message="Start Trip" [duration]="5000"></ion-toast>

</ion-content>
