
/* Target the ion-header element directly */
ion-header {
  /* Maintain desired dimensions */
  width: 100%;
  height: 48px;
  background: #A56946;
  ;

  ion-icon {
    width: 24px;
    height: 24px;
    top: 12px;
    left: 8px;
    padding: 6px 0;
    display: flex;
  }
}
ion-content {
  --background: #fff;
  margin-top: -80px;

  .qr-rrK {
    box-sizing: border-box;
    padding: 10rem 2.8rem 32.6rem 2.8rem;
    width: 100%;
    align-items: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    background-color: #ffffff;
  }

  .qr-rrK .group3093 .t1-name {
    margin-bottom: 0.6rem;
    display: flex;
    width: 131px;
    height: 20px;
    top: 148px;
    left: 115px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.30000001192092896px;
    text-align: left;
    color: rgba(175, 175, 175, 1);
    white-space: nowrap;
    flex-shrink: 0;

  }
  
  .qr-rrK .group3093 .t1-contact {
    width: 143px;
    height: 20px;
    top: 160px;
    left: 109px;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.30000001192092896px;
    text-align: left;
    color: rgba(175, 175, 175, 1);
  }

  .qr-rrK .group3093 {
    margin: 0rem 8rem 13.2rem 8.1rem;
    width: 143px;
    height: 46px;
    top: 148px;
    left: 109px;
    //width: calc(100% - 16.1rem);
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }

  .qr-rrK .group3091 {
    margin-bottom: 2rem;
    width: 100%;
    height: 5.4rem;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6666666667;
    letter-spacing: 0.03rem;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.1px;
    flex-shrink: 0;
  }
  
  .qr-rrK .group3091,.group3089 {
    width: 304px;
    height: 54px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: none;
    display: "flex";
  }
  
  .qr-rrK .rectangle35,
  .rectangle34 {
    background-color: rgba(165, 105, 70, 1);
    color: #fff;
    width: 304px;
    height: 54px;
    border-radius: 10px;

    border-radius: 10px;
    padding: 0;
  }
  
  .qr-rrK .line4 {
    margin-bottom: 0.1px;
    margin-top: 0.1px;
    //width: 100%;
    width: 304px;
    //top: 200px;
    //left: 28px;
    //border: 1px;
    //background: #000000;

    border: 1px solid #000000;
    background-color: #000000;
    align-items: center;
    //align-content: center;
    flex-shrink: 0;
  }

  .qr-rrK .group3089 {
    width: 100%;
    height: 5.4rem;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6666666667;
    letter-spacing: 0.03rem;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    display: "flex";
    flex-shrink: 0;
  }

  
}

/* Style the ion-toolbar for clean visual appearance */
ion-toolbar {
  /* Remove default padding based on preference */
  padding: 0;

  /* Adjust background color if needed */
  /* background-color: your-desired-color; */
}




/*
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.qr-rrK {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.qr-rrK .auto-group-uhkd-d6P {
  box-sizing: border-box;
  padding: 1.8rem 1.7rem;
  width: 100%;
  background-color: #a56946;
  flex-shrink: 0;
}
.qr-rrK .auto-group-uhkd-d6P .expandleft-NJs {
  margin-right: 32rem;
  width: 0.6rem;
  height: 1.2rem;
  object-fit: contain;
  vertical-align: top;
}
.qr-rrK .auto-group-7sxh-71Z {
  box-sizing: border-box;
  padding: 10rem 2.8rem 32.6rem 2.8rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.qr-rrK .auto-group-7sxh-71Z .group-3093-S3q {
  margin: 0rem 8rem 13.2rem 8.1rem;
  width: calc(100% - 16.1rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.qr-rrK .auto-group-7sxh-71Z .group-3093-S3q .dayanand-xns {
  margin-bottom: 0.6rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 0.8333333333;
  letter-spacing: 0.03rem;
  color: #afafaf;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.qr-rrK .auto-group-7sxh-71Z .group-3093-S3q .contact-8861166237-UWK {
  display: flex;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.5384615385;
  letter-spacing: 0.03rem;
  color: #afafaf;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.qr-rrK .auto-group-7sxh-71Z .group-3091-zUf {
  margin-bottom: 2rem;
  width: 100%;
  height: 5.4rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6666666667;
  letter-spacing: 0.03rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a56946;
  border-radius: 1rem;
  flex-shrink: 0;
}
.qr-rrK .auto-group-7sxh-71Z .line-4-FvP {
  margin-bottom: 1.9rem;
  width: 100%;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.qr-rrK .auto-group-7sxh-71Z .group-3089-Cqd {
  width: 100%;
  height: 5.4rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6666666667;
  letter-spacing: 0.03rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a56946;
  border-radius: 1rem;
  flex-shrink: 0;
}
*/