/* Target the ion-header element directly */
ion-header {
  /* Maintain desired dimensions */
  width: 100%;
  height: 48px;
  background: #A56946;

  ion-icon {
    width: 24px;
    height: 24px;
    top: 12px;
    left: 8px;
    padding: 6px 0;
    display: flex;
  }
}

ion-content {
  --background: #fff;
  margin-top: -80px;

  .qr-rrK {
    box-sizing: border-box;
    padding: 10rem 2.8rem 32.6rem 2.8rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;

    .t1-name {
      margin-bottom: 0.6rem;
      display: flex;
      font-family: Poppins;
      font-size: 24px;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 0.3px;
      text-align: left;
      color: rgba(175, 175, 175, 1);
      white-space: nowrap;
    }

    .t1-contact {
      font-family: Poppins;
      font-size: 13px;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 0.3px;
      text-align: left;
      color: rgba(175, 175, 175, 1);
    }

    .group3093 {
      margin: 0 8rem 13.2rem 8.1rem;
      width: 143px;
      height: 46px;
      align-items: center;
      display: flex;
      flex-direction: column;
    }

    .group3091,
    .group3089 {
      //margin-bottom: 2rem;
      width: 304px;
      height: 54px;
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 1.6666666667;
      letter-spacing: 0.03rem;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
    }

    .rectangle35,
    .rectangle34 {
      background-color: rgba(165, 105, 70, 1);
      color: #fff;
      width: 304px;
      height: 54px;
      border-radius: 10px;
      padding: 0;
      //margin-top: 10px;
      //margin-bottom: 10px;
    }

    .line4 {
      margin-bottom: 20px;
      margin-top: 20px; 
      width: 304px; /* Adjust width as needed */
      height: 1px; /* Match button height */
      border: 1px solid #000000;
      background-color: #000000;
      align-items: center;
      /* Position the line between buttons */
      top: 200px;
      left: 28px;
      border: 1px;
      //position: absolute;
      //top: 50%;
      transform: translateY(-0%);
      left: calc(50% - 0.5px); /* Offset half the line width */
    }

    /*.line4 {
      margin-bottom: 0.1px;
      margin-top: 10px;
      width: 304px;
      border: 1px solid #000000;
      background-color: #000000;
      align-items: center;
    }*/
  }
}

ion-toolbar {
  padding: 0;
}
