<ion-header [translucent]="true">
</ion-header>

<ion-content>
  <div class="qr-rrK">
    <div class="auto-group-uhkd-d6P">
      <img class="expandleft-NJs" src="./assets/expandleft.png" routerLink="qrscan"/>
    </div>
    <div class="auto-group-7sxh-71Z">
      <div class="group-3093-S3q">
        <div class="dayanand-xns">Dayanand</div>
        <div class="contact-8861166237-UWK">Contact : 8861166237</div>
      </div>
      <div class="group-3091-zUf" routerLink="enter-waste">Enter Waste</div>
      <div class="line-4-FvP"></div>
      <div class="group-3089-Cqd" routerLink="add-payment">Enter Payment</div>
    </div>
  </div>
</ion-content>


