<ion-header>
  <ion-toolbar color="orange">
    <ion-buttons slot="start"> 
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons> 
    <ion-title>Add Images</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-left">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size="4" *ngFor="let picture of pictures">
        <img [src]="picture" style="max-width: 100%; height: auto;">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color="orange">
    <ion-button color="orange" expand="block" (click)="takePhoto()">Take Photo</ion-button>
    <ion-button color="orange" expand="block" (click)="saveImages()">Save</ion-button>
    <ion-button color="orange" expand="block" (click)="uploadImages()">Upload</ion-button>
  </ion-toolbar>
</ion-footer>
