<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  <div class="add-payment-VEP">
    <div class="auto-group-sr8j-2k7">
      <img class="expandleft-x7y" src="./assets/expandleft-jzX.png" routerLink="qrentry"/>
    </div>
    <div class="group-3092-tXR">
      <div class="group-3032-qBm">
        <ion-label class="text-here--BmR">Amount</ion-label>
        <ion-input class="rectangle-1-WYo"></ion-input>
      </div>
      <ion-button class="auto-group-t9ax-dtK">Submit</ion-button>
    </div>
  </div>
</ion-content>


