<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="navigateBacktoqrentry()">
      <ion-icon style="color:#fff" name="chevron-back-outline"></ion-icon>
    </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
  </ion-header>
  <div class="add-payment-VEP">
    <div class="group-3092-tXR">
      <div class="group-3032-qBm">
        <p class="text-here--BmR">Amount</p>
        <ion-input class="rectangle-1-WYo" type="number" placeholder="  Enter amount"></ion-input>
      </div>
      <ion-button color="#A56946" class="auto-group-t9ax-dtK" routerLink=" "><ion-label>Submit</ion-label></ion-button>
    </div>
  </div>
</ion-content>
  