ion-header {
  /* Maintain desired dimensions */
  width: 100%;
  height: 48px;

  ion-icon {
    width: 24px;
    height: 24px;
    top: 12px;
    left: 8px;
    padding: 6px 0;
    display: flex;
  }
}
ion-content {
  background-color: #ffffff; /* Adjust background color */
  padding: 20px;
  width: 100%;

}

.add-payment-VEP {
  box-sizing: border-box;
  //padding-bottom: 32.9rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.add-payment-VEP .group-3092-tXR {
  width: 304px;
  height: 142px;
  //top: 329px;
  margin-top: 50px;
  left: 28px;
  margin: 2.8rem;
  //width: calc(100% - 5.6rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

}
.add-payment-VEP .group-3092-tXR .group-3032-qBm {
  
  width: 304px;
  height: 68px;
  top: 329px;
  left: 28px;
  margin-bottom: 2rem;
  //width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  flex-shrink: 0;
}
.add-payment-VEP .group-3092-tXR .group-3032-qBm .text-here--BmR {

  width: 48px;
  height: 18px;
  //top: 329px;
  //left: 28px;

  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: #00000066;
  flex-shrink: 0;
  
}
.add-payment-VEP .group-3092-tXR .group-3032-qBm .rectangle-1-WYo {

  width: 304px;
  height: 50px;
  //top: 347px;
  //left: 28px;
  border-radius: 8px;
  background: #E1E1E180;
  flex-shrink: 0;
}
.add-payment-VEP .group-3092-tXR .auto-group-t9ax-dtK {

  width: 304px;
  height: 54px;
  top: 417px;
  left: 28px;
  border-radius: 10px;

  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 1px;
  color: #FFFFFF;
  text-align: left;
  white-space: nowrap;
  //width: 100%;
  //height: 5.4rem;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a56946;
  border-radius: 1rem;
  flex-shrink: 0;
}
