<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="navigateBack()">
      <ion-icon style="color:#fff" name="chevron-back-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [style.background]="'rgba(0, 0, 0, 0.3)'">
  <ion-toolbar>
    <ion-button slot="start" fill="solid" class="switch-camera" (click)="toggleCamera()">
      <ion-icon name="camera-reverse-sharp" style="color: black"></ion-icon>
    </ion-button>
    <ion-button slot="end" fill="solid" class="flash-sharp" (click)="toggleFlashlight()">
      <ion-icon name="flash-sharp"></ion-icon>
    </ion-button>
  </ion-toolbar>

  <div class="centered-content" style="display: flex; justify-content: center; align-items: center; ">
    <div class="scanarea" >
      <div class="centered-card">
        <ion-card class="ion-text-center card-size">
          <ion-card-content>
            <qrcode
              [qrdata]="'qrstring'"
              [width]="250"
              [errorCorrectionLevel]="'M'"
              style="opacity: 0;"
            >
            </qrcode>
            <div class="scan-line"></div>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>

  <div>
    <p class="scan-instruction">Place a barcode inside the scan area</p>
  </div>

</ion-content>
